*{
    margin: 0;
    padding: 0;
    outline: 0;
}

ul li{
    list-style: none;
}













/* header part css start here */

/* header part css end here */



/* banner part css start here */

/* banner part css end here */




/* about me part css start here */



/* about me  part css end here */ 




/* working-industry part css start here */


/* working-industry part css end here */




/* footer part css start here */


/* footer part css end here */




