*{
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
}



a{
    text-decoration: none;
    color: #0082C6;
}

body{
    background-color: #1D1D20;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90vw;
    margin: 0 auto;
}

.parent{
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* header part css start here */
.toggle{
    display: none;
}

header{
    box-shadow: 0px 1px rgb(65, 110, 170);
    margin-bottom: 1px solid gray;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    position: relative;
}


.logo img{
    width: 55px;
}

.navbar{
    display: flex;
    gap: 40px;
    align-items: center;
}

.navlink{
    display: flex;

}

.navbar ul li{
    display: inline-flex;
    line-height: 80px;
    font-weight: 500;
    font-size: 15px;
    padding: 0 10px;
}

/* header part css end here */



/* banner part css start here */

/* banner part css end here */




/* about me part css start here */
#aboutme{
    padding: 60px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    margin: 20px 0; 
}

.image{
    width: 40%;
}

.image img{
    width: 100%;

}


.about{
    width: 50%;
}

.about p{
    text-align: justify;
}


h4{
    margin-bottom: 10px;
}




/* about me  part css end here */ 




/* working-industry part css start here */


/* working-industry part css end here */




/* footer part css start here */


/* footer part css end here */




