@media screen and (max-width:1024px) {
    /* banner part css end here */
    .title{
        font-size: 40px;
        line-height: 52px;
    }

    h4{
        font-size: 30px;
        line-height: 32px;
    }

    /* banner part css end here */


    /* about us  part css start here */ 
    .heading p{
        text-align: justify;
        font-size: 14px;
        line-height: 24px;
    }
    /* about us  part css end here */ 



    /* working-industry part css start here */
    .working-industry{
        padding: 80px 0;
    }

    .working-industry .parent{
        flex-direction: column;
        align-items: center;
    }

    .head{
        width: 80%;
        text-align: center;
    }
     
    .industry{
        width:80%;
    }

    .icon{
        width: 33.33%;
    }



    /* working-industry part css end here */
}









@media screen and (max-width:768px) {
    .parent{
        flex-direction: column;
        gap: 10px;
    }


    /* header part css start*/
    .navbar{
        display: none;
    }

    .toggle{
        display: block;
    }

    .toggle i {
        font-size: 30px;
    }
    
    
    /* header part css end*/


    /* Banner Part css start */
    .banner{
        padding: 40px 0;
    }

    .title{
        width: 100%;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }


    /* Banner Part css end */



    /* Aboutus Part css start */
    .about-us {
        padding: 40px 0;
    }

    .about {
        width: 100%;
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h4 {
        text-align: center;
    }


    /* Aboutus Part css end */


    /* working-industry part css start here */
    .working-industry{
        padding: 40px 0;
    }

    .industry{
        width:100%;
    }

    .icon{
        width: 33.33%;
    }



    /* working-industry part css end here */



    /* footer part css start here */
    .footer1 .parent{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }


    .foot{
        width: 40%;
    }

    /* footer part css end here */




}

@media screen and (max-width:560px) {
    /* working-industry part css start here */
    .working-industry{
        padding: 40px 0;
    }

    .industry{
        width:80%;
    }

    .icon{
        width: 50%;
    }

    /* working-industry part css end here */

}


@media screen and (max-width:425px) {
    
    /* Banner Part css start */
    .title{
        width: 100%;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }

    .industry{
        width:100%;
    }

    /* Banner Part css end */


    /* footer part css start here */
    .foot{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .foot ul li a{
        text-align: center;
    }

    /* footer part css end here */

}



@media screen and (max-width:375px) {
    /* Aboutus Part css start */
    h4{
        font-size: 22px;
    }

    .heading span{
        font-size: 12px;
    }

    .heading p{
        font-size: 12px;
    }


    /* Aboutus Part css end */

}


/*//////////////////// For devices with Width 320px and lower  //////////////////////////////////////////*/
@media screen and (max-width:320px) {
    /* .container{
        width: 80vh;
    } */
    /* Banner Part css start */
    .banner{
        padding: 20px 0;
    }


    .title{
        width: 100%;
        font-size: 25px;
        line-height: 28px;
        text-align: center;
    }

    .large{
        font-size: 100%;
    }

    .small{
        font-size: 60%;
    }


    /* Banner Part css end */

    

}



