*{
    margin: 0;
    padding: 0;
    outline: 0;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(5, 7, 72);
}

a:hover{
    color: #ff1f8e ;
    transition: 1.2s;
}


body{
    font-family: 'Open Sans', sans-serif;
    color: #6a6a8e;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 17px;
    outline: 0;
    overflow-x: hidden;
}

.container{
    width: 86vw;
    padding: 0 12px;
    margin: auto;
}

.parent{
    display: flex;
    justify-content: space-between;
}



/* header part css start here */
header{
    position: relative;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.header{
    width: 95vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.navbar{
    display: flex;
    gap:68px;
    align-items: center;
}

.navbar .nav ul li{
    font-family: 'Poppins', sans-serif;
    line-height: 85px;
    font-weight: 500;
    font-size: 16px;
    display: inline-flex;
    padding: 0 15px;
}



.navbar .quote-button button{
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 17px;
}

/* header part css end here */



/* banner part css start here */
.banner{
    background: linear-gradient(rgb(199, 236, 255) 0px, rgb(249, 239, 255) 100%);
    padding: 100px 0;
    width: 100%;

}

.img{
    width: 50%;
    align-self: center;
    padding: 0 12px;
}

.title{
    width: 50%;
    align-self: center;
    font-size: 50px;
    line-height: 72px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 12px;
    color: rgb(5, 7, 72);
}

.large{
    font-size: 120%;
}

.small{
    font-size: 70%;
    display: block;
}

/* banner part css end here */




/* about us part css start here */

.about-us{
    background-image: url(../images/dot_bg.png);
    padding: 100px 0;
}

.about{
    width: 50%;
    padding: 0 12px;
}

.heading span{
    color: #e60072;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 15px;
    display: block;
}

h4{
    font-family: 'poppins',sans-serif;
    color: #050748;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 30px;
}


.heading p{
    text-align: justify;
    font-size: 17px;
    line-height: 28px;
}

.message{
    font-weight: 500;
    padding: 25px;
    border-left: 4px solid #ff358f;
    margin: 30px 0;
    background: #fafafb;
    color: #6a6a8e;
    font-family: 'poppins',sans-serif;
}

/* about us  part css end here */ 




/* working-industry part css start here */
.working-industry{
    padding: 100px 0;
    background: linear-gradient(to bottom,#fbf9ed 0,#fbeaf8 100%);
}

.head{
    width: 30%;
    align-self: center;
    padding: 0 12px;
}
 
.industry{
    width:70%;
    padding: 0 12px;
}


.icon{
    width: 25%;
    float: left;
    
}

.work{
    margin: 10px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px 40px 8px 40px;
}

.work p{
    margin-top: 5px;
    padding: 0 12px;
    color: #050748;
}

.w1{
    background: #70e4e8;
}

.w2{
    background: #f5eb92;
}

.w3{
    background: #a3ffe2;
}

.w4{
    background: #ffbc7a;
}

.w5{
    background: #e3ff8e;
}

.w6{
    background: #ffa0c6;
}


.w7{
    background: #f3a6ff;
}

.w8{
    background: #97ffaf;
}

.w9{
    background: #6cfffa;
}

.w10{
    background: #77baff;
}

.w11{
    background: #ffefd4;
}

.w12{
    background: #7affdb;
}


.work-icon{
    display: block;
    height: 62px;
    width: 62px;
    margin: 0 auto;
    text-align: center;
}


/* working-industry part css end here */




/* footer part css start here */

.footer1{
    padding: 50px 0px;
}

.foot{
    width: 24%;
    padding: 0 12px;
}

.foot img{
    width: 70%;
    margin: 0 16px 20px 0;
    padding: 5px 0;
}

.foot h6{
    margin: 25px 0 30px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(5, 7, 72);
}

.foot ul li{
    padding-bottom: 15px;
    line-height: 25px;
    display: flex;
}

.details{
    display: block;
    
}

.foot ul li p{
    font-weight: 600;
    font-size: 18px;
    font-family: 'poppins',sans-serif;
    display: inline-block;
}

.foot ul li p span{
    display: flex;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.foot ul li i{
    font-size: 21px;
    margin: 6px 12px 0 0;
}



.foot a{
    color: rgb(106, 106, 142);
    line-height: 36px;
    font-size: 16px;
    padding-bottom: 4px;
} 

.foot a:hover{
    color: #ff1f8e;
    transition:1.2s;
    border-bottom: 1px solid #ff1f8e ;
} 

.footer2{
    padding-bottom: 40px;
}

.social, .copy{
    text-align: center;
    color: rgb(106, 106, 142);
}

.social, .copy a{
    color: rgb(106, 106, 142);
}

.social{
    margin-bottom: 30px;
    
}

.social a{
    font-size: 26px;
    margin: 20px;
}

/* footer part css end here */








.parent-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-banner{
    background-image: url(../images/9.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-overlay{
    background-color: rgba(214, 232, 243, 0.822);
    padding: 100px 0;
}




.services{
    padding: 100px 0;
}

/* .service{
    margin-top: 30px;
    padding: 0 12px;
    width: 33.33%;
}


.serv-no{
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
}

.serv-no .image{
    width: 80px;
    margin: 0 auto 30px;
} */

