*{
    margin: 0;
    padding: 0;
    outline: 0;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(5, 7, 72);
}

a:hover{
    color: #ff1f8e ;
    transition: 1.1s cubic-bezier(.53,.1,.12,.79);
}



body{
    font-family: sans-serif;
    color: #6a6a8e;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 17px;
    outline: 0;
    overflow-x: hidden;
}

.container{
    width: 80vw;
    padding: 0 12px;
    margin: auto;
}

.parent{
    display: flex;
    justify-content: space-between;
}



/* header part css start here */

header{
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.header{
    width: 95vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.navbar{
    display: flex;
    gap:68px;
    align-items: center;
}

.navbar .nav ul li{
    font-family: 'Poppins', sans-serif;
    line-height: 85px;
    font-weight: 500;
    font-size: 16px;
    display: inline-flex;
    padding: 0 15px;
}



.navbar .quote-button button{
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 17px;
}

/* header part css end here */

/* banner part css start here */
.banner{
    background: linear-gradient(to bottom,#c7ecff 0,#f9efff 100%);
    padding: 100px 0;
}

.img{
    width: 50%;
}

.title{
    width: 50%;
}

/* banner part css end here */




/* footer part css start here */
.footer1{
    padding: 50px 0px;
}

.foot{
    width: 24%;
}

.foot img{
    width: 70%;
    margin: 0 16px 20px 0;
    padding: 5px 0;
}

.foot h6{
    margin: 25px 0 30px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(5, 7, 72);
}

.foot ul li{
    padding-bottom: 15px;
    line-height: 25px;
}

.details{
    display: block;
    
}

.foot ul li p{
    font-weight: 600;
    font-size: 18px;
    font-family: 'poppins',sans-serif;
    display: inline-block;
}

.foot ul li p span{
    display: flex;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.foot ul li i{
    font-size: 21px;
}

.foot ul li span{
    position: relative;
    top: 5px;
}

.foot a{
    color: rgb(106, 106, 142);
    line-height: 36px;
    font-size: 16px;
    padding-bottom: 4px;
} 

.foot a:hover{
    color: #ff1f8e;
    border-bottom: 2px solid #ff1f8e ;
    transition: width 1.2s cubic-bezier(.25, .8, .25, 1) 0s;
    
} 

.footer2{
    padding-bottom: 40px;
}

.social, .copy{
    text-align: center;
    color: rgb(106, 106, 142);
}

.social, .copy a{
    color: rgb(106, 106, 142);
}

.social{
    margin-bottom: 30px;
    
}

.social a{
    font-size: 26px;
    margin: 20px;
}





/* footer part css end here */